@{
    ViewData["Title"] = "Microsoft Cognitive Services - Emotion API Sample";
}


<div class="row">
    <div class="col-md-12">
        <h2>Microsoft Cognitive Services - Emotion API Sample</h2>
        <p>分析したい画像のURLを入力してください。</p>
        @using (Html.BeginForm(
                            "Result",
                            "Home",
                            null,
                            FormMethod.Post
                            ))
        {
            @Html.TextBox("url", "", new { size = 100 })
            <input type="submit" value="分析する" />
        }
    </div>
</div>